@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: #fafafa;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #161722;
  min-height: 100vh;
}

.background {
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 15vw;
}

.background img {
  width: 100%;
  height: 100%;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  left: 1rem;
}

.check:hover {
  opacity: 0.8;
}

.check ion-icon:nth-child(1) {
  display: none;
}

.check.active ion-icon:nth-child(1) {
  display: block;
}

.check.active ion-icon:nth-child(2) {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-top: 50px;
}

.container-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0.5rem;
}

.container-header-title h1 {
  font-weight: 700;
}

.container-header input {
  width: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #25273c;
  padding: 1rem;
  margin: 0.5rem;
}

.container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
}

.container-items-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.container-items-item-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #25273c;
  width: 100%;
  padding: 1rem 0 1rem 2.5rem;
}

.container-items-item-items:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.container-items-item-items::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 0.75px;
  background: #777a92;
  opacity: .5;
}

.container-items-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #25273c;
  padding: 1rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.container-items-footer-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-items-footer-filter p:nth-child(3) {
  margin-right: 3rem;
}

.container-items-footer p, .container-items-footer span {
  color: #777a92;
}

.container-items-footer p:hover, .container-items-footer span:hover {
  color: white;
  cursor: pointer;
}

.container-items-footer p:not(p:first-child) {
  margin-left: 1rem;
}

.toggle-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.toggle-mode:hover {
  opacity: 0.8;
}

.toggle-mode ion-icon:nth-child(1) {
  display: none;
}

.toggle-mode.active ion-icon:nth-child(1) {
  display: block;
}

.toggle-mode.active ion-icon:nth-child(2) {
  display: none;
}

.attribution {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
  bottom: 0;
}

.attribution a {
  color: #777a92;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */